    .limiter {
        width: 100%;
        margin: 0 auto;
    }

    .container-login {
        width: 100%;  
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
    }
  
    .container-login::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        /* background-color: rgba(255,255,255,0.75); */
        background: #e6e6e6;
        opacity: 0.85;
    }

 
    .wrap-login {
        width: 500px;
        padding-top: 190px;
        padding-bottom: 20px;
        border-radius: 10px;
        overflow: hidden;
        padding: 55px 55px 37px 55px;
        background: rgb(235, 232, 230);
        background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6); 
        background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); 
    }

    .user-icon {
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
    
    .user-icon img {
        width: 100%;
    }

    .login100-form-title {
        font-family: Montserrat-ExtraBold;
        font-size: 26px;
        color: black;
        line-height: 1.2;
        text-align: center;
        width: 100%;
        display: block;
    }

    .wrap-input {
        position: relative;
        padding-top: 15px;
        width: 100%;
        z-index: 1;
    }
      
    .input {
        text-align: center;
        font-family: Montserrat-Bold;
        background: white;
        font-size: 17px;
        line-height: 1;
        margin: 0 auto;
        display: block;
        width: 90%;
        height: 40px;
        border-radius: 20px;
        border-width: 1px;
        border-style: solid;
        border-color: white;
    }

    textarea:focus, input:focus{
        outline: none;
    }

    .container-login-form-btn {
        width: 100%;
        padding-top: 25px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .login100-form-btn {
        font-family: Montserrat-Bold;
        font-size: 15px;
        line-height: 1.5;
        color: #e0e0e0;
      
        width: 90%;
        height: 50px;
        border-radius: 25px;
        background: #333333;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
      
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
      
        position: relative;
        z-index: 1;
      }
      
      .login100-form-btn::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        top: 0;
        left: 0;
        background: #005bea;
        background: -webkit-linear-gradient(left, #005bea, #00c6fb);
        background: -o-linear-gradient(left, #005bea, #00c6fb);
        background: -moz-linear-gradient(left, #005bea, #00c6fb);
        background: linear-gradient(left, #005bea, #00c6fb);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        opacity: 0;
      }
      
      .login100-form-btn:hover {
        background: transparent;
        color: #fff;
      }
      
      .login100-form-btn:hover:before {
        opacity: 1;
      }

      .text-center {
        text-align: center;
        padding-top: 10px;
      }

      .signup-link {
        font-family: Montserrat-Regular;
        font-size: 16px;
        color: #cccccc;
        line-height: 1.4;
      }