/* Reset Styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

/* *********************************************** */

/* Login and sign-up page styles */
.container {
  width: 100%;
  margin: 0 auto;
}

.login-signup-box {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.login-signup-box::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #e6e6e6;
  opacity: 0.6;
}

.wrap-login-signup {
  width: 500px;
  padding-top: 190px;
  padding-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  background: rgb(235, 232, 230);
  background: -webkit-linear-gradient(to bottom, #ffffff, #ece9e6);
  background: linear-gradient(to bottom, #ffffff, #ece9e6);
}

.user-icon {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.user-icon img {
  width: 100%;
}

.login-signup-form-title {
  font-family: Montserrat-ExtraBold;
  font-size: 26px;
  color: black;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
}

.wrap-form-input {
  position: relative;
  padding-top: 15px;
  width: 100%;
  z-index: 1;
}

.input {
  text-align: center;
  font-family: Montserrat-Bold;
  background: white;
  font-size: 17px;
  line-height: 1;
  margin: 0 auto;
  display: block;
  width: 90%;
  height: 40px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: #005bea;
  box-shadow: 0 1px 1px #005bea inset, 0 0 8px #005bea;
  outline: 0 none;
}

.signup-link {
  font-family: Montserrat-Regular;
  font-size: 16px;
  line-height: 1.4;
  color: #005bea;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
  padding-top: 10px;
}

.container-submit-form-btn {
  width: 100%;
  padding-top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.submit-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #e0e0e0;

  width: 90%;
  height: 50px;
  border-radius: 25px;
  background: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  position: relative;
  z-index: 1;
}

.submit-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  top: 0;
  left: 0;
  background: #005bea;
  background: -webkit-linear-gradient(left, #005bea, #00c6fb);
  background: -o-linear-gradient(left, #005bea, #00c6fb);
  background: -moz-linear-gradient(left, #005bea, #00c6fb);
  background: linear-gradient(left, #005bea, #00c6fb);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

.submit-form-btn:hover {
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.submit-form-btn:hover:before {
  opacity: 1;
}

.login-redirect-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #ffffff;
  background: #333333;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: right;
  padding: 0 25px;
  float: right;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  right: 2px;
  margin-right: 10px;
  top: 20px;
  border: 0px;
  cursor: pointer;
  position: absolute;

  z-index: 1;
}

.login-redirect-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  top: 0;
  left: 0;
  background: #005bea;
  background: -webkit-linear-gradient(left, #005bea, #00c6fb);
  background: -o-linear-gradient(left, #005bea, #00c6fb);
  background: -moz-linear-gradient(left, #005bea, #00c6fb);
  background: linear-gradient(left, #005bea, #00c6fb);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

.login-redirect-btn:hover {
  background: transparent;
  color: #fff;
}

.login-redirect-btn:hover:before {
  opacity: 1;
  color: white;
}

.logo img {
  width: 23%;
  height: 23%;
}

.pp-header {
  height: 75px;
  background: rgb(235, 232, 230);
  background: -webkit-linear-gradient(to bottom, #ffffff, #ece9e6);
  background: linear-gradient(to bottom, #ffffff, #ece9e6);
}

.password_confirm_tip {
  font-size: 0.8em;
  text-align: center;
}

.error_message {
  display: table;
  margin: 0 auto;
  color: #ed6160;
}

/* Home styles */
.upload-box {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: #1e7b85;
  border-radius: 8px;
  color: white;
  height: 50px;
  width: 180px;
  border: 1px solid gray;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.upload-box input[type="file"] {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-box:hover {
  filter: brightness(0.9);
}

#text100 {
  font-family: Helvetica;
  font-size: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
}

#patrasMap {
  z-index: -1;
  margin: 0 auto;
  position: relative;
  height: 50vh;
  width: 75%;
}

.map-container {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 10px;
}

.upload-container {
  padding-top: 20px;
  text-align: center;
}

/* NavBar */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

html {
  font-family: Arial;
  font-size: 16px;
  background: #d7d2cc;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* Style the active class, and buttons on mouse-over */
.active {
  content: "";
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
}

/*home.ejs*/
.home-page {
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
  width: 100%;
  float: right;
  height: 100%;
}

.home-page .welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.page-title {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #000000;
  text-transform: inherit;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.home-page .welcome-message {
  position: relative;
  padding-top: 90px;
  padding-bottom: 20px;
  color: #000000;
  text-transform: inherit;
  text-align: center;
}

.home-page .welcome-page h1 {
  font-size: 3em;
  font-weight: 600;
}

.home-page .description {
  position: relative;
  padding: 0 100px;
  font-size: 1.3em;
  color: #000000;
  text-transform: inherit;
}

.home-page .team {
  position: relative;
  text-align: center;
  list-style: none;
  padding-top: 50px;
  color: #000000;
  text-transform: inherit;
}

.home-page .team p {
  font-size: 1.4em;
  font-weight: 600;
}

.home-page .team li {
  line-height: 1.4em;
  font-size: 1.25em;
}

#profile-icon {
  display: block;
  position: relative;
  top: 10vh;
  margin-left: auto;
  margin-right: auto;
}

#eco-score {
  display: block;
  position: relative;
  top: 25vh;
  width: 80%;
  margin: 0 auto;
}

.upload-page {
  height: 100vh;
  text-align: center;
  display: block;
}

.upload-page h3 {
  text-decoration: underline;
  padding-top: 20px;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.upload-page .instructions {
  padding-top: 10px 0 0 0;
  list-style: decimal;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.instructions ol {
  display: inline-block;
  text-align: left;
  list-style: decimal;
}

.instructions ol ul {
  list-style: lower-latin;
  padding-left: 20px !important;
}

/* Drop zone area style */
#dropFileForm {
  margin: auto;
  margin-top: 30px;
  width: 55vw;
  height: 20%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  overflow: hidden;
  background-color: #b3b3b3;
  transition: 0.5s;
}

#dropFileForm #fileLabel {
  display: block;
  width: 55vw;
  height: 100%;
  padding: 2vh;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#dropFileForm #fileLabel img {
  display: block;
  width: 75px;
  height: 75px;
  position: relative;
  text-align: center;
  margin: auto;
}

#dropFileForm #fileInput {
  display: none;
}

#dropFileForm #fileLabel:after,
#dropFileForm #fileLabel:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: -2;
  border-radius: 8px 8px 0 0;
}

#dropFileForm #fileLabel:before {
  z-index: -1;
  background: repeating-linear-gradient(45deg,
      transparent,
      transparent 5%,
      black 5%,
      black 10%);
  opacity: 0;
  transition: 0.5s;
}

#dropFileForm.fileHover #fileLabel:before {
  opacity: 0.25;
}

.uploadButton {
  position: relative;
  display: block;
  text-align: center;
  font-size: 1em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: auto;
  border: 0px;
  width: 55vw;
  height: 35px;
  background-color: #737373;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
}

#dropFileForm.fileHover {
  box-shadow: 0 0 16px #595959;
}

/* Charts */
#eco-score {
  display: block;
  position: relative;
  top: 0;
}

[type="date"] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.date_input {
  width: 15vw;
  height: 35px;
  margin-right: 40px;
  font-size: 1em;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 190px;
}

.date_pickers {
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 40px;
  position: relative;
}

.date_pickers span {
  font-size: 1.2em;
  /* text-align: center; */
  position: relative;
}

#statistics {
  position: relative;
  top: 30vh;
}

.my_container {
  width: 85%;
  display: block;
  position: relative;
  align-items: center;
  margin: 0 auto;
  top: -8vh;
  line-height: 1.3em;
  border-radius: 20px;
  background-color: white;
  padding-right: 10px;
}

.info-title {
  display: block;
  position: relative;
  padding-left: 20px;
  top: 20px;
  font-weight: bold;
  font-size: 1.4em;
}

.information-label {
  width: 150px;
  margin-left: 0px;
  display: block;
  position: relative;
  padding-left: 20px;
  font-weight: bold;
  font-size: 1.2em;
}

.info-value {
  display: inline-block;
  position: relative;
  top: -25px;
  font-size: 1.2em;
  margin-left: 30px;
  padding-left: 40px;
}

.line {
  position: relative;
  display: block;
  top: 1.5em;
  left: 10px;
  width: 90%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.eco_score_graph {
  top: 10vh;
  position: relative;
  align-items: center;
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 30vh;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}

select {
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

.select {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 22em;
  height: 2em;
  line-height: 2;
  background-color: whitesmoke;
  overflow: hidden;
  border-radius: 0.5em;
}

select {
  flex: 1;
  font-size: 1em;
  padding: 0 0.5em;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}

#slct {
  width: 22em;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: white;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.select:hover::after {
  color: #1e7b85;
}

.graph_pos {
  width: 65vw;
  height: 60vh;
  display: block;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

@keyframes ldio-5i9edknw1sc {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-5i9edknw1sc div {
  position: relative;
  width: 62.800000000000004px;
  height: 62.800000000000004px;
  border: 6.28px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
}

.ldio-5i9edknw1sc div {
  animation: ldio-5i9edknw1sc 1.1627906976744184s linear infinite;
  top: 78.5px;
  left: 78.5px;
}

/*home.ejs*/
.loadingio-spinner-rolling-7bqc3dhw93 {
  display: none;
  margin: auto;
  width: 157px;
  height: 157px;
  display: relative;
  /* overflow: hidden; */
  background: rgba(255, 255, 255, 0);
}

.ldio-5i9edknw1sc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-5i9edknw1sc div {
  box-sizing: content-box;
}

/* #heatmap {
  width: 60vw;
  height: 60vh;
} */

/* .heatmap-container {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 100px;
  /* padding-top:100px;
  padding-bottom:100px; */
/* top: 30%;
  bottom: 20%;
  text-align: center;
} */

.leaderboard-container {
  top: 10vh;
  position: relative;
  width: 70%;
  height: 45vh;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 20px;
}

#outside-lead-cont {
  display: inline-block;
  position: relative;
  width: 100%;
  background: no-repeat center top;
  background-size: contain;
  padding-right: 50% !important;
  top: 10vh;
  /* overflow-x:auto; 
    overflow-y: auto; */
}

.lead-title {
  display: block;
}

#outside-user-container {
  display: inline-block;
  position: relative;
  width: 100%;
  background: no-repeat center top;
  background-size: contain;
  padding-left: 50% !important;
  bottom: 50%;
}

.text-format {
  font-weight: 900 !important;
  font-weight: bold !important;
}

/*home.ejs*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/*home.ejs*/
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*home.ejs*/
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
  position: fixed;
  height: 60px;
  width: 60px;
  display: block;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1;
}

/*home.ejs*/
.openbtn:hover {
  background-color: #444;
  display: block;
  cursor: pointer;
}

/*home.ejs*/
#main {
  transition: margin-left 0.5s;
  padding: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: 1.1em;
}

.full-container {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  margin: auto;
}

.outside-eco-container {
  display: block;
  position: relative;
  background-size: contain;
  width: 90%;
  background: no-repeat center top;
  padding-right: 40% !important;
  height: 20vh;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}



/*----------------------------------------------------------------------------------------------*/
/*Adjustments for mobile media screens*/
@media only screen and (max-width: 500px) {
  .full-container {
    font-size: 0.6em;
  }

  .home-page .description {
    margin: 0;
    padding: 0px !important;
  }

  .sidebar li a {
    font-size: 0.8em;
  }

  .openbtn {
    width: 40px;
    height: 40px;
  }

  .date_pickers span {
    padding-right: 50%;
  }

  #profile {
    overflow-y: auto;
    overflow-y: auto;
    /* padding-bottom: 200px; */
    /* height:200%; */
  }
}
#heatmap-section{
  /* padding-bottom: 200px; */
  position:relative;
  height: 100vh;
  display: block;
}

#heatmap {
  display: block;
  margin: 0 auto;
  position: relative;
  height: 50vh;
  width: 75%;
  padding-left: 100px;
  z-index: -1;
}

/*Adjustments for tablet media screens*/
/* @media only screen and (min-width: 768px) {
  .date_pickers span{
    right:0;
  }
}  */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .date_pickers span {
    padding: 70px !important;
  }

  #profile {
    font-size: 0.7em !important;
  }

  .my_contaier {
    padding: 50px !important;
  }

  .information-label {
    margin-left: 5% !important;
  }

  .information-value {
    top: 10% !important;
  }
}

#heatmap-section {
  position: relative;
  display: block;
  margin: auto;
  height: 100vh;
  bottom: 20%;
}

#heatmap {
  display: block;
  position: relative;
  height: 80vh;
  width: 80%;
  z-index: -1;
  margin: 0 auto !important;
}

.heatmap-page {
  height: 100vh;
  text-align: center;
  display: block;
}

.row {
  /* padding-top: 50px; */
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  height: 100vh;
  padding: 0px 4px;
}

.column .graph canvas {
  margin-top: 5vh;
  vertical-align: middle;
  width: 100%;
  height: 40vh;
}

#refresh-btn {
  width: 100px;
  margin-top: 10px;
  margin-left: 90vw;
  height: 40px;
  border: 0px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  background-color: #111;
  color: whitesmoke;
}