<script type="text/javascript" src="scripts/validation.js"></script>
<script type="text/javascript" src="scripts/uploadMap.js"></script>
<script type="text/javascript" src="scripts/graphs.js"></script>
<script type="text/javascript" src="scripts/dropzone.js"></script>
<script type="text/javascript" src="scripts/graphics.js"></script>
<script type="text/javascript" src="scripts/charts.js"></script>

</body>
</html>