<script type="text/javascript" src="scripts/heatmap.js"></script>
<script type="text/javascript" src="scripts/heatmaps.js"></script>
<script type="text/javascript" src="scripts/admin_charts.js"></script>
</body>
</html>