<script type="text/javascript" src="scripts/heatmap.js"></script>
<script type="text/javascript" src="scripts/heatmapAdmin.js"></script>
<script type="text/javascript" src="scripts/admin_charts.js"></script>
<script type="text/javascript" src="scripts/utils_admin.js"></script>
</body>
</html>