<script type="text/javascript" src="scripts/heatmap.js"></script>
<script type="text/javascript" src="scripts/validation.js"></script>
<script type="text/javascript" src="scripts/uploadMap.js"></script>
<script type="text/javascript" src="scripts/dropzone.js"></script>
<script type="text/javascript" src="scripts/charts.js"></script>
<script type="text/javascript" src="scripts/user_info.js"></script>
<script type="text/javascript" src="scripts/heatmaps.js"></script>
</body>
</html>