<script type="text/javascript" src="scripts/validation.js"></script>
<script type="text/javascript" src="scripts/mapDrawing.js"></script>
<script type="text/javascript" src="scripts/graphs.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOA6aTQPdPOF7eBwgG-sTfCnCRZ_HJ4yM&libraries=drawing&callback=initMap" async
defer></script>
</body>
</html>