<%- include("partials/header") %>

<main class="main">
    <aside class="sidebar">
        <nav class="nav">
            <ul id="link-list">
                <li class="nav-link active"><a href="#dashboard">Dashboard</a></li>
                <li class="nav-link"><a href="#heatmap">Heatmap</a></li>
                <li class="nav-link"><a href="export">Export Data</a></li>
                <li class="nav-link"><a href="delete_data">Delete Data</a></li>
                <li class="nav-link"><a href="logout_admin">Log out</a></li>
            </ul>
        </nav>
    </aside>
    <section id="dashboard">
        <div class="graph_pos" id="graph_container">
            <canvas id="graphs"></canvas>
        </div>
    </section>
    

   

</main>

<%- include("partials/footer") %>