<%- include("partials/header") %>

<main class="main">
    <aside class="sidebar">
        <nav class="nav">
            <ul id="link-list">
                <li class="nav-link active"><a href="dashboard">Show Database Dashboard</a></li>
                <li class="nav-link"><a href="heatmap">Show Data on Map</a></li>
                <li class="nav-link"><a href="delete_data">Delete Database Data</a></li>
                <li class="nav-link"><a href="export">Export Data</a></li>
                <li class="nav-link"><a href="logout">Log out</a></li>
            </ul>
        </nav>
    </aside>

    

   

</main>

<%- include("partials/footer") %>