<%- include("partials/header") %>


    
        <table>
            <thead>
                <tr>
                    <th colspan="2">ΚΑΤΑΝΟΜΗ ΤΩΝ ΔΡΑΣΤΗΡΙΟΤΗΤΩΝ ΤΩΝ ΧΡΗΣΤΩΝ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>user 1</td>
                    <td>δραστηριοτητα</td>
                </tr>
            </br>
                <tr>
                    <td>user 2</td>
                    <td>δραστηριοτητα</td>
                </tr>
            </br>    
                <tr>
                    <td>user 3</td>
                    <td>δραστηριοτητα</td>
                </tr>
            </br>
                <tr>
                    <td>user 4</td>
                    <td>δραστηριοτητα</td>
                </tr>
            </br>
                <tr>
                    <td>user 5</td>
                    <td>δραστηριοτητα</td>
                </tr>

            </tbody>
        </table>

<%- include("partials/footer") %>