<%- include("partials/header") %>
<header class="pp-header">
    <div>
        <div class="logo">
            <!-- Logo is needed -->
        </div>
    </div>
</header>

    <div class="container">
    <div class="login-signup-box" style="background-image: url('../images/bg-01.jpg');">
        <div class="wrap-login-signup">
            <form id="login-form" action="/login" method="post" novalidate>
                <div class="user-icon" alt="USER_ICON">
                    <img src="../images/icons/user-icon-svg.svg">
                </div>

                <span class="login-signup-form-title">Log-in</span>

                <div class="wrap-form-input">
                    <input id="username" name="username" class="input" type="text" placeholder="Username">
                </div>

                <div class="wrap-form-input">
                    <input id="password" name="password" class="input" type="password" placeholder="Password">
                </div>

                <div class="text-center">
                    You don't have an account?
                    <a class="signup-link" href="/signup">
                        Let's create one.
                    </a>
                </div>
            </form>
            <div class="container-submit-form-btn">
                <button  type="submit" value="submit" form="login-form" class="submit-form-btn">
                    Login
                </button>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer") %>