<%- include("partials/header") %>

<main class="main">
    <aside class="sidebar">
        <nav class="nav">
            <ul>
                <li><a href="home">Welcome</a></li>
                <li><a href="#">Statistics</a></li>
                <li class="active"><a href="profile">Profile</a></li>
                <li><a href="#">Upload a File</a></li>
                <li><a href="logout">Log out</a></li>
            </ul>
        </nav>
    </aside>

    <section class="home-page">
        <div class="profile-page">
            <div class="left-container">
                <canvas id="eco-score"></canvas>
            </div>
            <div class="right-container">
                <img id="profile-icon" src="../images/icons/user-icon.png">
                <div class="profile-info">
                </div>
            </div>
        </div>
    </section>
</main>

<%- include("partials/footer") %>